*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Courier New', Courier, monospace;
}
body{
    display: flex;
    align-items: center;
    justify-content: center;
    background: linear-gradient(to right, #defa9ea4, #4eac98);

}
.contanier {
    max-width: 1000px;
    width: 600px;
    height: 90vh;
    overflow-y: scroll;
    padding: 25px;
    text-align: center;
    border-radius: 10px;
    box-shadow: 0 4px 15px rgba(10, 10, 10, 0.5);
    margin: 2%;
}
.heading2{
    padding: 10px;
    font-size: 32px;
    font-weight:bolder;
    color: aliceblue;
    text-shadow:2px 2px 2px rgb(0, 0, 0);
}
.input {
    padding: 10px;
    width: 65%;
    border: none;
    font-size: 15px;
    margin: 5px;
    box-shadow: inherit;
    text-align: left;
}
.input:focus {
    outline: none;
    background-color: antiquewhite;
}

.add-btn, .del-all {
    padding: 12px;
    font-weight: bolder;
    border: none;
    box-shadow: inherit;
    border-radius: 5px;
    transition: 0.2s;
}
.del-btn {
    border: none;
    padding: 5px;
    background: none;
    color: black;
}
.add-btn:hover, .del-all:hover{
    background-color: #94e2e7;
}
.add-btn:active, .del-all:active{
    padding: 10px;
    transform: scale(0.95);
}

li {
    display: flex;
    justify-content:space-between;
    align-items: center;
    border-bottom: 0.1cap solid black;
    padding: 5px;
    margin: 5px;
    width: 100%;
    list-style: decimal;
    overflow-wrap:anywhere;
    line-height: 23px;
    text-align: left;
}
::-webkit-scrollbar {
    width: 10px;              /* vertical scrollbar */
    height: 10px;             /* horizontal scrollbar */
}
::-webkit-scrollbar-track {
    background: rgba(0,0,0,0.05);
    border-radius: 10px;
}
::-webkit-scrollbar-thumb {
    background: rgba(78, 166, 172, 0.6);
    border-radius: 10px;
}

/* Scrollbar thumb hover */
::-webkit-scrollbar-thumb:hover {
    background: rgba(97, 197, 214, 0.9);
}

